main{
    padding: 10px 0;
}
.modelos{
    width: 100%;
}

/* Configurações da caixa do modelo */

.box-model{
    width: 280px;
    height: 370px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    padding: 10px;
}
.img-model{

    width: 100%;
    height: 100%;

    border-radius: 7px;
}