main{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 30px 10px;
}
form{
    width: auto !important;
}
.box{
    max-width: 1130px;
    height: 200px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    text-align: center;
    margin: 10px 0;
}
.box p{
    width: 100%;
}
.box-1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;

    width: 560px;
    height: 200px;
    margin: 5px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    padding: 10px;
}
.box-1 p{
    width: 100%;
}.box-1 div{
    height: 90%;
    width: 50%;
}
.box-1 h1, .box-2 h1{
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.box-2{
    width: 560px;
    height: 200px;
    margin: 5px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.btn-ajuda{

    display: flex;
    justify-content: center;
    align-items: center;


    width: 80%;
    height: 40px;
    border-radius: 7px;
    background-color: #272c6b;
    color: white;
    margin: 10px;
    transition: .3s;
}
.btn-ajuda:hover{
    background-color: #1d2150;
}