main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
form{
    width: auto !important;
}
.box{
    max-width: 80%;
    height: 200px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    text-align: center;
}