@import url('https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: figtree;
    color: rgb(0, 45, 107);
    outline: 0;
    border: 0;
}
html{
    max-width: 1900px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(242, 243, 245);
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.link-header{

    text-decoration: none;
}
.form-header{
    width: 71px;
}
main, section{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
/* Botões */

.btn-link{
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}
.btn-one{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 45, 107);
    transition: .3s;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-one:hover{
    border-bottom: 7px solid rgb(0, 81, 193);
}
.btn-danger{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(194, 36, 36);
    color: white;
    transition: .3s;
}
.btn-danger:hover{
    background-color: rgb(152, 28, 28);
}

/* Primeira parte da página */

.parte-1{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    text-align: center;
    margin: 20px 0;
}
.parte-1 h1{
    width: 100%;
    margin: 30px 0;
    font-size: 30px;
}
.img-one{
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

/* Segunda parte da página */

.parte-2{
    background-color: rgb(0, 45, 107);
    height: 300px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

    margin-bottom: 10px;
}
.parte-2 *{
    color: white;
}
.passos{
    text-align: start;
}

/* Box informações */

.box-inf{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    margin: 10px;
}
.box-inf h1{
    text-align: center;
}

/* modelos */

.box-title{
    width: 100%;
    background-color: rgb(0, 45, 107);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 20px 0;
}
.title{

    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: white;
}
.img-modelos{

    width: 300px;
    aspect-ratio: 1/1.25;
    border-radius: 7px;
    transition: .3s;
    cursor: pointer;
}
.img-modelos:hover{
    transform: scale(1.01);
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 10px;

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}